pandas
os
datetime
python-docx
openpyxl
pyinstaller
time
colorama
pyinstaller `
--onefile `
--exclude pytz `
--paths C:\\Users\\borom\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\site-packages proc_doc.py 